# General
.DS_Store
Thumbs.db
*.log

# Node (por si hay scripts en JS o TypeScript)
node_modules/
npm-debug.log*
yarn-debug.log*
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local

# Docker
*.env
*.tar
docker-compose.override.yml

# Submódulos y Git
.gitmodules
*.swp
*.bak

# IDEs / editores
.vscode/
.idea/
*.sublime*

# Build / cache
dist/
build/
coverage/
logs/

# Bash / scripts temporales
*.sh~
*.bak
